<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/13/Android_P_logo.svg" alt="logo">
        <h1>Gestion Produit</h1>
      
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen  class="size" nzTitle="Produit" >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/addProduit">Ajouter Produit</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/indexProduit">Liste Produit</a>
          </li>
        
        </ul>
      </li>
   
      <li nz-submenu nzOpen  class="size"       nzTitle="Categorie" > 
       
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/addCategorie">Ajouter Categorie</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/indexCategorie">Liste Categorie</a>
          </li>
        </ul>
     </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
